:global #app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 1000px;
    overflow: hidden;
    margin: 30px;
}

:global .progress {
    position: fixed !important;
    top: 50%;
    left: 50%;
}

:global .bottom-bar {
    padding-top: 50px;

    h3 {
        font-family: Roboto, sans-serif;
        display: inline-block;
        padding-right: 30px;
    }

    > div {
        display: inline-block;
        margin-right: 30px;
    }
}
